@page "/productos"
@inject ProductosService productosService

<PageTitle>Index - Productos</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		<div class="card-header d-flex justify-content-between align-items-center">
			<h5 class="card-title">Productos</h5>
			<a href="/productos/create" class="btn btn-outline-primary">
				<span class="bi bi-plus-square"></span> Agregar Producto
			</a>
		</div>

		<div class="card-body">
			<div class="row g-3">
				<div class="col-12 col-sm-12 col-md-2">
					<label class="col-form-label">Filtrar Por:</label>
					<InputSelect class="form-select ms-0" @bind-Value="Filtro">
						<option value="" selected disabled>Seleccione una opci&oacute;n:</option>
						<option value="ProductoId">ProductoId</option>
						<option value="Descripcion">Descripci&oacute;n</option>
						<option value="Costo">Costo</option>
						<option value="Precio">Precio</option>
						<option value="Existencia">Existencia</option>
					</InputSelect>
				</div>

				<div class="col-12 col-sm-12 col-md-2">
					<label class="col-form-label">B&uacute;squeda</label>
					<div class="input-group">
						<InputText class="form-control" @bind-Value="ValorFiltro" placeholder="Buscar..."></InputText>
						<button type="button" class="btn btn-outline-primary" @onclick="Buscar">
							<span class="bi bi-search"></span>
						</button>
					</div>
				</div>
			</div>

			<div class="table-responsive mt-3">
				<table class="table table-hover text-center align-middle">
					<thead class="table table-striped text-black">
						<tr>
							<th>ID</th>
							<th>Descripci&oacute;n</th>
							<th>Costo</th>
							<th>Precio</th>
							<th>Existencia</th>
							<th>Acci&oacute;n</th>
						</tr>
					</thead>

					<tbody>
						@foreach (var p in ListaProductos)
						{
							<tr>
								<td>@p.ProductoId</td>
								<td>@p.Descripcion</td>
								<td>@p.Costo</td>
								<td>@p.Precio</td>
								<td>@p.Existencia</td>
								<td>
									<a href="/productos/edit/@p.ProductoId" class="btn btn-outline-warning">
										<span class="bi bi-pencil"></span>	
									</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>

		<div class="card-footer text-center">
			<div class="row">
				<label>Total de Productos: @ListaProductos.Count()</label>
			</div>
		</div>
	</div>
</div>

@code {
	public List<Producto> ListaProductos { get; set; } = new List<Producto>();
	public string? Filtro { get; set; }
	public string? ValorFiltro { get; set; }

	protected override async Task OnInitializedAsync()
	{
		ListaProductos = await productosService.ListarProductos(p => p.ProductoId > 0);
	}

	private async Task Buscar()
	{
		if (!string.IsNullOrWhiteSpace(ValorFiltro))
		{
			if (Filtro == "ProductoId" && int.TryParse(ValorFiltro, out var productoId))
			{
				ListaProductos = await productosService.ListarProductos(p => p.ProductoId == productoId);
			}
			else if (Filtro == "Descripcion")
			{
				ListaProductos = await productosService.ListarProductos(p => p.Descripcion.ToLower().Contains(ValorFiltro));
			}
			else if (Filtro == "Costo" && decimal.TryParse(ValorFiltro, out var costo))
			{
				ListaProductos = await productosService.ListarProductos(p => p.Costo == costo);
			}
			else if (Filtro == "Precio" && decimal.TryParse(ValorFiltro, out var precio))
			{
				ListaProductos = await productosService.ListarProductos(p => p.Precio == precio);
			}
			else if (Filtro == "Existencia" && int.TryParse(ValorFiltro, out var existencia))
			{
				ListaProductos = await productosService.ListarProductos(p => p.Existencia == existencia);
			}
		}
	}
}
