@page "/entradas/edit/{EntradaId:int}"
@inject EntradasService entradasService
@inject NavigationManager nav
@rendermode InteractiveServer

<PageTitle>Editar - Entrada</PageTitle>
<EditForm Model="Entrada" OnValidSubmit="Guardar" FormName="EditEntrada">
	<div class="container">
		<div class="card shadow-lg">
			<div class="card-header text-center">
				<h5 class="card-title">Editar Entrada</h5>
			</div>

			<div class="card-body">
				<div class="mb-3">
					<label class="form-label">Fecha Entrada</label>
					<InputDate class="form-control" @bind-Value="Entrada.FechaEntrada"></InputDate>
					<ValidationMessage For="() => Entrada.FechaEntrada" />
				</div>

				<div class="mb-3">
					<label class="form-label">Entrada ID</label>
					<InputNumber class="form-control" @bind-Value="Entrada.EntradaId" readonly />
					<ValidationMessage For="() => Entrada.EntradaId" />
				</div>

				<div class="mb-3">
					<label class="form-label">Concepto</label>
					<InputText class="form-control" @bind-Value="Entrada.Concepto" placeholder="Concepto..."></InputText>
					<ValidationMessage For="() => Entrada.Concepto" />
				</div>

				<hr />

				<div class="border border-success p-3 m-3">
					<h3>Detalle</h3>

					<hr class="py-1" />

					<div class="col-auto input-group align-items-center">
						<label class="col-form-label input-group-text">Seleccione:</label>

						<InputSelect class="form-control form-select" @bind-Value="DetalleSeleccionado.ProductoId">
							<option value="0" selected disabled>Seleccione un producto:</option>
							@foreach (var p in ListaProductos)
							{
								<option value="@p.ProductoId">@p.ProductoId - @p.Descripcion - Existencia: @p.Existencia</option>
							}
						</InputSelect>

						<label class="col-form-label input-group-text">Cantidad:</label>
						<InputNumber class="form-control" @bind-Value="DetalleSeleccionado.Cantidad" min="0"></InputNumber>

						<label class="col-form-label input-group-text">Costo:</label>
						<InputNumber class="form-contorl" @bind-Value="DetalleSeleccionado.Costo" min="0"></InputNumber>

						<button type="button" class="btn btn-outline-primary" @onclick="AgregarDetalle">
							<span class="bi bi-plus-square"></span> Agregar
						</button>
					</div>

					@if (!string.IsNullOrWhiteSpace(errorMensaje))
					{
						<div class="alert alert-danger">@errorMensaje</div>
					}

					<hr class="py-1" />

					<div class="table-responsive">
						<table class="table table-light table-bordered table-hover mt-2">
							<thead>
								<tr class="text-center">
									<th>Producto ID</th>
									<th>Descripci&oacute;n</th>
									<th>Cantidad</th>
									<th>Costo</th>
									<th>Total</th>
									<th>Acci&oacute;n</th>
								</tr>
							</thead>

							<tbody>
								@foreach (var d in Entrada.Detalles)
								{
									<tr class="text-center">
										<td>@ListaProductos.FirstOrDefault(p => p.ProductoId == d.ProductoId)?.ProductoId</td>
										<td>@ListaProductos.FirstOrDefault(p => p.ProductoId == d.ProductoId)?.Descripcion</td>
										<td>
											<input type="number" class="form-control" @bind="d.Cantidad" min="0"/>
										</td>
										<td>
											<input type="number" class="form-control" @bind="d.Costo" min="0" />
										</td>
										<td>@(d.Cantidad * d.Costo)</td>
										<td>
											<button type="button" class="btn btn-outline-danger btn-sm" @onclick="() => RemoverDetalle(d)">
												<span class="bi bi-trash"></span>
											</button>
										</td>
									</tr>
								}
							</tbody>
						</table>

						<hr />

						<div class="d-flex justify-content-between">
							<div class="mb-3">
								<label class="form-label">Conteo:</label>
								<input type="number" class="form-control text-secondary" value="@Entrada.Detalles.Count()" />
							</div>

							<div class="mb-3">
								<label class="form-label">Total</label>
								<input type="number" class="form-control text-secondary" value="@Entrada.Detalles.Sum(d => d.Cantidad * d.Costo)"/>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card-footer text-center">
				<a href="/entradas" class="btn btn-secondary">
					<span class="bi bi-arrow-left"></span> Volver
				</a>

				<button type="submit" class="btn btn-primary">
					<span class="bi bi-save"></span> Guardar
				</button>

				<button type="button" class="btn btn-danger" @onclick="MostrarModal">
					<span class="bi bi-trash"></span> Eliminar
				</button>
			</div>
		</div>
	</div>
</EditForm>

@code {
	[Parameter]
	public int EntradaId { get; set; }

	public Entrada Entrada { get; set; } = new Entrada();
	public EntradaDetalle DetalleSeleccionado { get; set; } = new EntradaDetalle();
	public List<Producto> ListaProductos { get; set; } = new List<Producto>();

	public string? errorMensaje { get; set; }
	public bool mostrarModal = false;

	protected override async Task OnInitializedAsync()
	{
		ListaProductos = await entradasService.ListarProductos();
		if (EntradaId > 0)
		{
			Entrada = await entradasService.Buscar(EntradaId);
		}
	}

	private async Task Guardar()
	{
		var modificado = await entradasService.Guardar(Entrada);
		if (modificado)
		{
			nav.NavigateTo("/index");
		}
		else
		{
			errorMensaje = "No se pudo editar la entrada.";
		}
	}

	private async Task AgregarDetalle()
	{
		errorMensaje = null;

		if (DetalleSeleccionado.ProductoId == 0)
		{
			errorMensaje = "Debe seleccionar al menos 1 producto.";
		}
		if (DetalleSeleccionado.Cantidad <= 0)
		{
			errorMensaje = "La cantidad debe ser mayor que 0.";
		}
		if (DetalleSeleccionado.Costo <= 0)
		{
			errorMensaje = "El costo debe ser mayor que 0.";
		}

		var producto = ListaProductos.Single(p => p.ProductoId == DetalleSeleccionado.ProductoId);

		var detalle = new EntradaDetalle
		{
			ProductoId = producto.ProductoId,
			Cantidad = DetalleSeleccionado.Cantidad,
			Costo = DetalleSeleccionado.Costo
		};

		Entrada.Detalles.Add(detalle);
		DetalleSeleccionado = new EntradaDetalle();
		await Task.CompletedTask;
	}

	private void RemoverDetalle(EntradaDetalle detalle)
	{
		Entrada.Detalles.Remove(detalle);
		DetalleSeleccionado = detalle;
	}

	private async Task Eliminar()
	{
		var eliminado = await entradasService.Eliminar(Entrada.EntradaId);
		if (eliminado)
		{
			nav.NavigateTo("/entradas");
		}
		else
		{
			errorMensaje = "No se pudo eliminar la entrada correctamente.";
		}
	}

	private void MostrarModal()
	{
		mostrarModal = true;
	}

	private void CerrarModal()
	{
		mostrarModal = false;	
	}
}
